$male-color: #77bc65;
$female-color: #729fcf;

#jsplumb-container-wrapper {
    position: relative;
    border: black 3px solid;
    overflow: hidden;
    cursor: move;
}

#jsplumb-container {
    width: 100%;
    height: 600px;
    position: relative;
    // border: 3px solid black;
    transform-origin: top left;
}

#search-results-table {
    border-collapse: collapse;
}

.person-container {
    position: absolute;
    display: flex;
    flex-direction: column;
}

.person-box {
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    box-sizing: border-box;
}

.male {
    background-color: $male-color;
    border-color: darken($male-color, 30%);
}

.female {
    background-color: $female-color;
    border-color: darken($female-color, 30%);
}

.lifeline {
    background-color: $female-color;
    opacity: 0.2;
}

.lifeline-top {
    margin: 0 40%;
    // flex-basis: 40%;
}

.lifeline-bottom {
    margin: 0 40%;
    flex-grow: 1;
}

.lifeline-bound {
    margin: 0 20%;
    height: 10px;
}

.person-name {
    font-weight: bold;
    text-align: center;
}

.search-row:hover {
    background-color: grey;
}

.selected-row {
    border: 1px solid black;
}

.timeline-number {
    margin-top: -0.5em;
    margin-left: 0.1em;
}

.male .birth-and-death-input {
    background-color: #77bc65;
}

.female .birth-and-death-input {
    background-color: #729fcf;
}

.birth-and-death-input {
    text-align: center;
    border: none;
    background-color: #77bc65;
    width: 3em;
}

.date-container {
    display: flex;
    justify-content: center;
}

#timeline-container-wrapper {
    left: 0px;
    top: 0px;
    height: 100%;
    position: absolute;
    width: 50px;
    transform-origin: left top;
}

#timeline-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.timeline-line-container {
    position: absolute;
    display: flex;
    width: 100%;
    transform-origin: left;
}

.timeline-line {
    background-color: black;
    height: 1px;
    left: 0;
    width: 50%;
}