$male-color: #77bc65;
$female-color: #729fcf;
$unknown-gender-color: #808080;
$lifeline-color: #e3ecf6;
$darker-lifeline-color: #c0c9d2;
$alert-color: #dc3545;
$search-background: #212529;
$options-background: #6c757d;
$draw-tree-button-background: #198754;
$redraw-tree-button-background: #ffc107;

// z-indices

.lifeline { z-index: 2; }
.jtk-connector { z-index: 3;}
.jtk-endpoint { z-index: 3; }
.person-box { z-index: 4; }
.additional-info-container {z-index: 5}

html {
    font-size: 16px;
    font-weight: normal;
}

body {
    margin: 0;
    font-family: Arial;
}

p {
    margin: 0;
}

button {
    padding: 0.25em;
    font-size: 1rem;
}

// positioning of main elements

#top-bar {
    height: 4rem;
}

#options-bar {
    height: 5rem;
}

#jsplumb-container-wrapper {
    height: calc(100vh - 9rem);
}

// position end

#jsplumb-container-wrapper {
    position: relative;
    overflow: hidden;
    cursor: move;
    background-color: white;
}

#jsplumb-container {
    width: 100%;
    height: 85vh;
    position: relative;
    transform-origin: top left;
}

#top-bar {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 1rem 1rem;
    width: 100%;
    position: relative;
    background-color: $search-background;
}

#search-container {
    max-width: 600px;
    width: 100%;
    position: relative;

    input {
        width: 100%;
        font-size: 1.5rem;
    }

    input:focus + table {
        display: table;
    }

    table:hover {
        display: table;
    }
}

#current-person-label {
    font-size: 1rem;
}

#display-options-container {
    color: white;
    width: 20rem;

    div {
        display: flex;
        align-items: center;
    }

    label {
        width: 30%;
    }

    input, select {
        box-sizing: border-box;
        margin: 0;
        width: 70%;
    }
}

#search-results-table {
    border-collapse: collapse;
    position: absolute;
    z-index: 7;
    background-color: white;
    border: 1px solid grey;
    width: 100%;
    display: none;
    user-select: none;
}

#options-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $options-background;
}

#current-root-person-container {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

#draw-tree-button-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
}

#draw-new-tree-button {
    background-color: $draw-tree-button-background;
    border: 2px solid darken($color: $draw-tree-button-background, $amount: 5%);

    &:hover {
        background-color: darken($color: $draw-tree-button-background, $amount: 5%);
        border-color: darken($color: $draw-tree-button-background, $amount: 10%);;
    }
}

#redraw-tree-button {
    background-color: lightgray;
    border: 2px solid darken($color: lightgray, $amount: 5%);
    pointer-events: none;

    &.active {
        background-color: $redraw-tree-button-background;
        border-color: darken($color: $redraw-tree-button-background, $amount: 5%);
        pointer-events: initial;
    }

    &.active:hover {
        background-color: darken($color: $redraw-tree-button-background, $amount: 5%);
        border-color: darken($color: $redraw-tree-button-background, $amount: 10%);
    }
}

#zoom-button-container {
    display: flex;
    flex-direction: column;
}

#current-root-person-name {
    font-weight: bolder;
}

#display-options-container {
    display: flex;
    flex-direction: column;
}

#language-button-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-left: 10px;
    
    a {
        color: white;
        font-size: 0.9rem;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.draw-tree-button {
    width: 10rem;
    padding: 0.4rem;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5em;
    color: white;
}
.display-flex {
    display: flex;
}

.duplicates-button {
    display: block;
    color: white;
    border: none;
    transition: background-color 0.25s ease;
    outline: none;
}

.male button {
    background-color: darken($male-color, 15);
    border: 1px solid darken($male-color, 20);

    &:hover {
        background-color: darken($male-color, 20);
    }
}

.female button {
    background-color: darken($female-color, 15);
    border: 1px solid darken($female-color, 20);

    &:hover {
        background-color: darken($female-color, 20);
    }
}

.turn-180 {
    transform: rotate(180deg);
}

.z-index-6 {
    z-index: 6;
}

button.delete-button {
    background-color: $alert-color;
    border-color: darken($color: $alert-color, $amount: 20);
    color: white;
    display: block;
    outline: none;

    &:hover {
        background-color: darken($alert-color, $amount: 10);
        border-color: darken($color: $alert-color, $amount: 30) !important;
    }
}

.additional-info-container {
    position: absolute;
    top: -5px;
    left: 100%;
    background-color: inherit;
    width: 400px;
    padding: 1rem;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.opacity-100 {
    opacity: 100;
}

.male > .additional-info-container {
    border-color: darken($male-color, 30%);
}

.female > .additional-info-container {
    border-color: darken($female-color, 30%);
}

.justify-content-space-between {
    justify-content: space-between;
}

.person-container {
    position: absolute;
    display: flex;
    flex-direction: column;

    &:hover .lifeline {
        background-color: $darker-lifeline-color;
        z-index: 3;
    }
    
    &:hover .lifeline-box {
        background: linear-gradient($darker-lifeline-color, $darker-lifeline-color);
    }

    &:hover .gradient-lifeline-transparent {
        background: linear-gradient($darker-lifeline-color, transparent);
    }
    
    &:hover .gradient-transparent-lifeline {
        background: linear-gradient(transparent, $darker-lifeline-color);
    }
}

.person-box {
    position: absolute;
    border-style: solid;
    border-radius: 10px;
    border-width: 5px;
    box-sizing: border-box;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    user-select: none;

    &:hover {
        @extend .z-index-6;
        .additional-info-container {
            opacity: 100;
            visibility: visible;
        }
    } 
}

.person-button-container {
    display: flex;
    position: absolute;
    bottom: 0px;
    width: 100%;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 5px;

    button {
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.8rem;
    }
}

.hidden {
    visibility: hidden;
}

.lifeline-box {
    position: absolute;
    background: linear-gradient($lifeline-color, $lifeline-color);
    // border-radius: 10px;
    border-width: 5px;
}

.gradient-lifeline-transparent {
    background: linear-gradient($lifeline-color, transparent);
}

.gradient-transparent-lifeline {
    background: linear-gradient(transparent, $lifeline-color);
}

.male {
    background-color: $male-color;
    border-color: darken($male-color, 30%);
}

.female {
    background-color: $female-color;
    border-color: darken($female-color, 30%);
}

.unknown-gender {
    background-color: $unknown-gender-color;
    border-color: darken($unknown-gender-color, 30%);;
}

.estimated-lifeline {
    background-color: red !important;
}

.lifeline {
    background-color: $lifeline-color;
}

.lifeline-line {
    margin: 0 40%;
    flex-grow: 1;
}

.lifeline-bound {
    margin: 0 20%;
}

.person-name {
    position: relative;
    font-weight: bold;
    text-align: center;
    margin-top: 00.25rem;
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
    line-height: 1em;
    height: 2em;
    overflow: hidden;

    &:hover {
        text-decoration: underline;
    }
}

.loader {
    z-index: 10;
    position: absolute;
    box-sizing: border-box;
    left: calc(50% - 75px);
    top: calc(50% - 75px);
    width: 150px;
    height: 150px;
    border: 20px solid #c7c7c7; /* Light grey */
    border-top: 20px solid $search-background; /* Blue */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.drag-and-drop-button {
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    text-align: center;
}

.male .drag-and-drop-button {
    background-color: darken($male-color, 10%);
    color: darken($male-color, 20%);

    &:hover {
        background-color: darken($male-color, 20%);
        color: darken($male-color, 30%);
    }
}

.female .drag-and-drop-button {
    background-color: darken($female-color, 10%);
    color: darken($female-color, 20%);

    &:hover {
        background-color: darken($female-color, 20%);
        color: darken($female-color, 30%);
    }
}

.search-row {
    border: 1px solid #d4d4d4;
    &:hover {
        background-color: darken($color: white, $amount: 5);
    }
}

.selected-row {
    border: 1px solid black;
}

.timeline-number {
    margin-top: -0.5em;
    margin-left: 0.1em;
    font-weight: bold;
}

.birth-and-death-input {
    text-align: center;
    border: none;
    background-color: inherit;
    width: 4em;
    unicode-bidi: plaintext;
}

.date-container {
    margin-top: 0.9rem;
    display: flex;
    justify-content: center;
}

#timeline-container-wrapper {
    left: 0px;
    top: 0px;
    height: 100%;
    position: absolute;
    width: 50px;
    transform-origin: left top;
}

#timeline-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.timeline-line-container {
    position: absolute;
    display: flex;
    width: 100%;
    transform-origin: left;
}

.timeline-line {
    background-color: black;
    height: 1px;
    left: 0;
    width: 50%;
}